<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="_fragments :: head(~{::title})">
  <title>关于我</title>
</head>
<body>
<!--顶部栏-->
<div th:replace="_fragments :: header(5)">
  <nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <h2 class="ui teal header item">Blog</h2>
        <a href="#" th:href="index.html" class="active m-item item m-mobile-hide"
           th:classappend="${n==1} ? 'active'"><i
            class="mimi home icon"></i>首页</a>
        <a href="#" th:href="types.html" class="m-item item m-mobile-hide"
           th:classappend="${n==2} ? 'active'"><i
            class="mimi idea icon"></i>分类</a>
        <a href="#" th:href="tags.html" class="m-item item m-mobile-hide"
           th:classappend="${n==3} ? 'active'"><i
            class="mimi tags icon"></i>标签</a>
        <a href="#" th:href="archives.html" class="m-item item m-mobile-hide"
           th:classappend="${n==4} ? 'active'"><i
            class="mimi clone icon"></i>归档</a>
        <a href="#" th:href="about.html" class="m-item item m-mobile-hide"
           th:classappend="${n==5} ? 'active'"><i
            class="mimi info icon"></i>关于我</a>
        <div id="" class="right m-item item m-mobile-hide">
          <div class="ui icon inverted transparent input">
            <input type="text" placeholder="Search...."/>
            <i class="search link icon"></i>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-top-right m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>
</div>
<!--中间栏-->
<div class="m-container m-padded-tb-large">
  <div class="ui container"></div>
  <div class="ui stackable grid">
    <div class="eleven wide column">
        <div class="ui segment">
        <img src="https://unsplash.it/800/600?image=1015 " th:src="#{index.picture}" class="ui rounded image"/>
        </div>
    </div>
    <div class="five wide column">
      <div class="ui top attached segment">
        <div class="ui header">
          关于我
        </div>
        <div class="ui attached segment">
          <p class="m-text">自我介绍</p>
          <p class="m-text">陈永昌，男，1997年10月生，目前就读于广东技术师范大学，将于2020年6月份毕业。大学四年，虽不谈精彩，但也使我
            对过去和未来有了自己的思考，思想更加成熟，学会解决各种问题，同时也结识了很多良师益友。闲暇之余，我喜欢去学习各种编程相关的技术，
            为将来的就业做好准备。这个博客是用于纪录平时编程和开发过程中遇到的各种问题以及思考，喜欢的朋友记得多来看看哦...
          </p>
        </div>
        <div class="ui attached segment">
          <div class="ui orange basic left pointing label">编程</div>
          <div class="ui orange basic left pointing label">思考</div>
          <div class="ui orange basic left pointing label">骑行</div>
        </div>
        <div class="ui attached segment">
          <div class="ui teal basic left pointing label m-margin-tb-tiny">Java</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">JavaScript</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">SpringBoot</div>
          <div class="ui teal basic left pointing label m-margin-tb-tiny">MySql</div>
        </div>
        <div class="ui bottom attached segment">
          <a href="#" class="ui circular icon button"><i class="github icon"></i></a>
          <a href="#" class="ui wechat circular icon button"><i class="weixin icon"></i></a>
          <a href="#" class="ui qq circular icon button" ><i class="qq icon"></i></a>
        </div>
        <div class="ui wechat-qr flowing popup transition hidden">
          <img src="../static/images/wechat.jpg" th:src="#{index.wechatpic}"
               class="ui rounded image" style="width: 120px"/>
        </div>

        <div class="ui qq-qr flowing popup transition hidden">
          <img src="../static/images/QQ.jpg" th:src="#{index.QQpic}"
               class="ui rounded image" style="width: 120px"/>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<!--底部栏 -->
<div th:replace="_fragments :: footer">
  <footer class="ui inverted vertical segment m-padded-tb-massive">
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="three wide column">
          <div class="ui inverted link list">
            <div class="item">
              <img src="../../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}"
                   class="ui rounded image" style="width: 110px;" alt="">
            </div>
          </div>
        </div>
        <div class="three wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">最新博客</h4>
          <div id="newblog-container">
            <div class="ui inverted link list" th:fragment="newestBlogList">
              <a th:each="blog:${nblogs}" href="#" target="_blank" class="item"
                 th:href="@{/blog/{id}(id=${blog.id})}" th:text="${blog.title}">用户故事（User
                Story）</a>
            </div>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
          <div class="ui inverted link list">
            <a href="#" class="item">Email：chenyongchang00@126.com</a>
            <a href="#" class="item">QQ：1451462560</a>
          </div>
        </div>
        <div class="six wide column">
          <h4 class="ui inverted header  m-text-thin m-text-spaced">Blog</h4>
          <p class="m-text-thin m-text-spaced m-opactity-mimi">
            这是我的个人博客，会分享关于编程、写作、思考以及生活感想相关的任何内容，希望可以给来到这儿的人有所帮助....</p>
        </div>
      </div>
      <div class=" ui inverted section divider"></div>
      <p class="m-text-thin m-text-spaced m-opactity-tiny">©2019 Blog Designed by HanFeng</p>
    </div>
  </footer>
</div>
<!--Script-->
<th:block th:replace="_fragments ::script">
  <script src="../static/lib/tocbot/tocbot.min.js" th:src="@{/lib/tocbot/tocbot.min.js}"></script>
  <script src="../static/lib/qrcodejs/qrcode.js" th:src="@{/lib/qrcodejs/qrcode.js}"></script>
  <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });
    $('.ui.dropdown').dropdown({
      on : 'hover'
    });
    $("#newblog-container").load("[[@{/footer/newblogs}]]");
  </script>
</th:block>
<script>
  $('.wechat').popup({
    popup: $('.wechat-qr'),
    on: 'hover',
    position: 'bottom center'
  });
  $('.qq').popup({
    popup: $('.qq-qr'),
    on: 'hover',
    position: 'bottom center'
  });
</script>
</body>
</html>
